@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #0d0034, #110094, #450094, #110094, #001049);
  background-size: 150% 150%;
  min-height: 300vh;

}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://www.transparenttextures.com/patterns/white-diamond-dark.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 150s infinite;
  opacity: .9;
  visibility: visible;
  pointer-events: none;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}


header {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events:auto;
  pointer-events: none;
}
header h1, header button {
  position: relative;
  z-index: 10;
  pointer-events: auto;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 3em;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
header button {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  bottom: 100px;
  left: calc(50% - 60px);
  width: 120px;
  height: 50px;
  border: 0;
  box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  font-size: 1em;
  color: #09203f;
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  overflow: hidden;
  pointer-events: auto;
}
header button:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
header button:focus {
  outline: 0;
}
header button:before, header button:after {
  font-family: "Font Awesome 5 Free";
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  top: 17px;
  position: absolute;
  pointer-events: auto;
}
header button:before {
  content: "";
  opacity: 1;
  left: 53px;
  pointer-events: auto;
}
header button:after {
  content: "";
  opacity: 0;
  left: 0;
  pointer-events: auto;
}
header .triangle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #093f29 0%, #539570 100%);
  background-image: url("https://images7.alphacoders.com/108/1086969.jpg");
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
header .triangle.left {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
header .triangle.right {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
header.open .triangle.left {
  clip-path: polygon(0 0, 0 100%, 0 100%);
}
header.open .triangle.right {
  clip-path: polygon(100% 0, 100% 0, 100% 100%);
}
header.open button {
  left: 40px;
  bottom: 40px;
  width: 50px;
  border-radius: 50%;
  pointer-events: auto;
}
header.open button:before {
  opacity: 0;
  left: 100%;
  pointer-events: auto;
}
header.open button:after {
  opacity: 1;
  left: 18px;
  pointer-events: auto;
}
header.open button.menu {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0;
  pointer-events: auto;
}
header.open button.menu:after {
  left: -100%;
  pointer-events: auto;
}

content section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1pt;
  color: #fff;
}

nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
nav ul {
  list-style: none;
}
nav ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 1pt;
  font-size: 2em;
  color: #09203f;
  animation: fadeDown 0.5s forwards;
  opacity: 0;
  cursor: pointer;
  transform: translateY(-20px);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
nav ul li:hover {
  text-shadow: 2px 1px 40px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
nav ul li:nth-child(1) {
  animation-delay: 0.8s;
}
nav ul li:nth-child(2) {
  animation-delay: 0.9s;
}
nav ul li:nth-child(3) {
  animation-delay: 1s;
}
nav ul li:nth-child(4) {
  animation-delay: 1.1s;
}
nav ul li:nth-child(5) {
  animation-delay: 1.2s;
}
nav ul li:nth-child(6) {
  animation-delay: 1.3s;
}
nav ul li:nth-child(7) {
  animation-delay: 1.4s;
}
nav ul li:nth-child(8) {
  animation-delay: 1.5s;
}
nav ul li:nth-child(9) {
  animation-delay: 1.6s;
}
nav #nav-close {
  position: fixed;
  top: 40px;
  right: 40px;
  font-size: 1.5em;
  cursor: pointer;
  animation: fadeDown 0.5s forwards;
  animation-delay: 1.1s;
  opacity: 0;
  color: #09203f;
  transform: translateY(-20px);
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
